<!doctype html>
<html lang="en">
  <head>
    <title>MakeUp-Obsession</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Merriweather:300,300i,400,400i,700,700i" rel="stylesheet">
    <link  href="_/css/bootstrap.css" rel ="stylesheet" media="screen">
    <link  href="_/css/mystyle.css" rel ="stylesheet" media="screen">   
  </head>
  <body id="about">
    <section class="container">
      <div class= "content row">
      <h1>hhhhhh</h1>
      <?php include "_/components/php/header.php"; ?>
      <section class="main col col-lg-8">
      
      </section>
      <section class="sidebar col col-lg-4">
      
      </section>
</div><!--content-->
<!-- <?php include "_/components/php/footer.php"; ?> -->
</section><!--container-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS 
    <script src="_/js/bootstrap.js"></script>
    <script src="_/js/myscript.js"></script> -->
  </body>
</html>